# Binary
nitter

# Configuration files
nitter.conf
guest_accounts.json*

# Output files
*.html
*.db
/public/css/style.css
/public/md/*.html
dump.rdb
/latest_logs/

# Test files
__pycache__/
/tests/geckodriver.log
/tests/downloaded_files
/tests/latest_logs
/tools/gencss
/tools/rendermd
